

<!-- <form> -->
<section>


  <div class="form-group">
    <input [(ngModel)]="fname" type="text" class="form-control"  placeholder="First Name">
  </div>
  <div class="form-group">
    <input [(ngModel)]="lname" type="text" class="form-control" placeholder="Last Name">
  </div>
  <div class="form-group">
    <input [(ngModel)]="phone" type="phone" class="form-control" placeholder="Phone Number">
  </div>
  <button (click)="findWeather(zip)" type="submit" class="btn btn-primary">Submit</button>
<!-- </form> -->
</section>
<!-- <section>
  <h2>New User?</h2>
  <input [(ngModel)]="zip" type="text" placeholder="First Name"/>
  <input [(ngModel)]="zip" type="text" placeholder="Last Name"/>
  <input [(ngModel)]="zip" type="text" placeholder="Phone Number"/>
  <input (click)="findWeather(zip)" type="submit" value="Submit"/>
</section> -->

<app-user-card></app-user-card>
