
<section>

  <div class="form-group">
    <input [(ngModel)]="fname" type="text" class="form-control"  placeholder="First Name">
  </div>
  <div class="form-group">
    <input [(ngModel)]="lname" type="text" class="form-control" placeholder="Last Name">
  </div>
  <div class="form-group">
    <input [(ngModel)]="phone" type="phone" class="form-control" placeholder="Phone Number">
  </div>
  <button (click)="submitUser(fname, lname, phone)" type="submit" class="btn btn-primary">Submit</button>
</section>

<app-user-card></app-user-card>
