<section *ngIf="users">
  <div class="row">
    <div class="col-sm-4" *ngFor="let user of users">
      <div class="card">
        <div class="card-body">
          <span class="remove" (click)="deleteUser(user.id)">x</span>
          <h5 class="card-title">Profile: </h5>
          <p class="card-text" *ngIf="!show">First Name: {{user.firstName}}</p>
          <p class="card-text" *ngIf="!show">Last Name: {{user.lastName}}</p>
          <p class="card-text" *ngIf="!show">Phone: {{user.phone}}</p>

          <input type="text" *ngIf="show" [(ngModel)]="fname" placeholder={{user.firstName}} ng-required/><br>
          <input type="text" *ngIf="show" [(ngModel)]="lname" placeholder={{user.lastName}} ng-required/><br>
          <input type="text" *ngIf="show" [(ngModel)]="phone" placeholder={{user.phone}} ng-required/>

          <a class="edit col-md-3 offset-md-9" (click)="editing()">edit</a>
        </div>
      </div>
    </div>
  </div>
</section>
