<section>
  <h2>What's the Weather Where You're At?</h2>
  <input [(ngModel)]="zip" type="text" placeholder="Zip Code Here"/>
  <input (click)="findWeather(zip)" type="submit" value="Search"/>
</section>


<section *ngIf="users">
  <h3>{{users}}</h3>

  <!-- <h3>Here's the weather in {{users[0].id}}:</h3>
  <p>Currently {{users[0].firstName}}.</p>
  <p>There's a high of {{users[0].lastName}} degrees and a low of {{weather.main.temp_min}} degrees.</p> -->
</section>





<!-- <section>
  <h2>Sign Up </h2>
  <p>Already a user? Sign In.</p>
  <input type="text" name="" value="First Name">
  <input type="text" name="" value="Last Name">
  <input type="text" name="" value="Phone Number">
  <input (click)="findAstronauts()" type="submit" value="Show List"/>
</section>
<section *ngIf="people">
  <ul>
    <li *ngFor="let astronaut of people">
        <h3>{{astronaut.name}}</h3>
    </li>
</ul>
</section> -->
